:root {
  --purple: #1d2039;
  --light-purple: #242947;
  --lighter-purple: #797e9a;
  --light-purple-Hover: #061d9d;
  --lighter-purple-Hover: #6b80fb;
  --green: #66a663;
  --white: #fff;
  --orange: #be9c3d;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--purple);
  color: var(--white);
}

header {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: var(--light-purple);
  border-radius: 20px;
  padding: 20px;
}

header .logo {
  width: 80px;
}

header h1 {
  text-transform: uppercase;
}

header span {
  color: var(--lighter-purple);
  font-weight: bold;
}

main {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap-reverse;
}
.gameArea {
  background-color: var(--light-purple);
  border-radius: 20px;
  padding: 20px;
  flex-grow: 1000;

  text-align: center;
}
.gameSettings {
  background-color: var(--light-purple);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  flex-grow: 1;
  position: relative;
}
h2 {
  text-transform: uppercase;
}
.points {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.point {
  background-color: var(--purple);
  border-radius: 20px;
  line-height: 40px;
  font-size: 20px;
  font-weight: bold;
  flex-basis: 170px;
  flex-grow: 1;
  cursor: pointer;
}

.point.disabled {
  display: none;
}
.none {
  display: none;
}
.flex {
  display: flex;
}
.Nonone {
  display: block;
}
#gameButton {
  background-color: var(--green);
  line-height: 50px;
  border-radius: 25px;
  text-transform: uppercase;
  margin-top: 30px;
  font-weight: bold;
  cursor: pointer;
}

.field {
  display: inline-grid;
  grid-template-columns: repeat(10, 30px);
  gap: 5px;
}

.cell {
  width: 30px;
  height: 30px;
  background-color: var(--purple);
  background-repeat: 4px;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  line-height: 30px;
}

.point input {
  border: 0;
  outline: 0;
  background: transparent;
  color: var(--white);
  font-weight: bold;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.point.active {
  background-color: var(--orange);
}
.cell.active:hover {
  opacity: 0.7;
}

.cell.active {
  cursor: pointer;
  background-color: var(--lighter-purple);
}

.cell.bomb {
  background-color: var(--orange);
  background-image: url("../img/bomb_1f4a3.png");
  background-size: contain;
}

.cell.flag {
  background-color: var(--orange);
  background-image: url("../img/flag-in-hole_26f3.png");
  background-size: contain;
}
.registration {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  text-align: center;
  background-color: var(--purple);
  position: fixed;
  top: 100px;
  z-index: 1;
  box-shadow: 0 0 150px rgba(34, 89, 208, 0.51);
  padding: 40px 20px;
  border-radius: 1em;
}
.Block {
  position: absolute;
  justify-content: center;
  border-color: bisque;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  z-index: 11111111;
}
.Block h2 {
  font-size: calc(1vw + 11px);
  font-weight: 600;
  line-height: 140%;
  margin: 0;
  margin-bottom: 1em;
}
.Block p {
  font-size: calc(0.45vw + 11px);
  font-weight: 400;
  line-height: 140%;
  margin: 0;
  margin-bottom: 1em;
  padding: 0 calc(11.5vw - 21px);
}
.Block input {
  all: unset;
  background-color: var(--lighter-purple);
  border-radius: 6px;
  padding: 5px;
  width: 100%;
  margin-bottom: 0.5em;
  border: 3px solid var(--light-purple);
  color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}
.Block input:hover {
  background-color: var(--lighter-purple-Hover);
  border: 3px solid var(--light-purple-Hover);
}
.Block button {
  all: unset;
  background-color: var(--lighter-purple);
  border-radius: 6px;
  padding: 5px;
  width: 100%;
  margin-bottom: 0.5em;
  border: 3px solid var(--light-purple);
  color: var(--light-purple-Hover);
  cursor: pointer;
  transition: all 0.5s;
}
.Block button:hover {
  background-color: var(--lighter-purple-Hover);
  border: 3px solid var(--light-purple-Hover);
  color: #fff;
}

.Block input::placeholder {
  color: #004779b7;
}


.popapGame h2 {
  font-size: calc(1vw + 11px);
  font-weight: 600;
  line-height: 140%;
  margin: 0;
  margin-bottom: 1em;
}
.popapGame img {
  width: 12em;
}
.popapGame {
  text-align: center;
  background-color: var(--purple);
  position: absolute;
  right: calc(62.2vw - 193px);
  top: 10%;
  z-index: 1;
  box-shadow: 0 0 150px rgba(34, 89, 208, 0.51);
  border-radius: 1em;
  padding: 50px;
}

@media (max-width: 400px) {
  .cell {
    width: 25px;
    height: 25px;
  }
  .field {
    grid-template-columns: repeat(10, 25px);
  }
}
